{% extends 'base_lo.html' %}
{% load static %}
{% block title %}Registro{% endblock %}
{% block register %}
<section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>Veterianimal</h1>
    </div>
    <div class="login-box">
      <form class="container" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Registrarme</h3>
        
        {{form}}

        <div class="form-group">
          <div class="utility">
            <div class="animated-checkbox">
              <label>
                <input type="checkbox"><span class="label-text">Estoy de acuerdo con los</span>
              </label>
            </div>
            <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Terminos y condiciones</a></p>
          </div>
        </div>
        <div class="form-group btn-container">
          <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Entrar</button>

          <div id="alertSi" class="alert alert-success alert-dismissible fade show" role="alert">Ok! Pronto se iniciara sesión</div>
          <div id="alertNo" class="alert alert-danger alert-dismissible fade show" role="alert">Por favor digita los datos</div>
        </div>
      </form>
    </div>
  </section>
{% endblock  %}





