{% extends 'users/base_usuario.html' %}
{% load static %}
{% block title %}Reseña{% endblock %}
{% block review %}

    <div class="col-md-3">
      <div class="tile p-0">
          <ul class="nav flex-column nav-tabs user-tabs">
          <li class="nav-item"><a class="nav-link" href="#user-settings" data-toggle="tab">Añadir Reseña</a></li>
          </ul>
      </div>
    </div>
          <div class="col-md-9">
              <div class="tab-content">
                  <div class="tab-pane fade" id="user-settings">
                      <div class="tile user-settings">
                          <h4 class="line-head text-center">Añadir Reseña</h4>
                      
                          <div class="divstarts">
                          
                              <label class"text-center" >Tu Calificación</label>
                              
                          
                              <form method="POST">
                                  {% csrf_token %}
                                  <p class="clasificacion">
                                  <input id="radio1" type="radio" name="estrellas" value="5"><!--
                                  --><label for="radio1"><span class="fa fa-star-o"></span></label><!--
                                  --><input id="radio2" type="radio" name="estrellas" value="4"><!--
                                  --><label for="radio2"><span class="fa fa-star-o"></span></label><!--
                                  --><input id="radio3" type="radio" name="estrellas" value="3"><!--
                                  --><label for="radio3"><span class="fa fa-star-o"></span></label><!--
                                  --><input id="radio4" type="radio" name="estrellas" value="2"><!--
                                  --><label for="radio4"><span class="fa fa-star-o"></span></label><!--
                                  --><input id="radio5" type="radio" name="estrellas" value="1"><!--
                                  --><label for="radio5"><span class="fa fa-star-o"></span></label>
                                  </p>
                                  <div class="row p-b-25 text-center">
                                      <div class="col-12 p-b-5">
                                          <label id="reviews" class="stext-102 cl3" for="review">Tu Reseña
                                          </label> 
                                      </div> 
                                      <textarea class="form-control"  id="review" name="review"></textarea>
                                  </div>
                                      <div class="clearfix"></div>
                                  </div>
                                      <div class="row mb-10">
                                          <div class="col-md-12 pt-4">
                                          <button class="btn btn-primary" type="submit" ><i class="fa fa-fw fa-lg fa-check-circle"></i> Añadir Reseña</button>
                                      </div>
                            </form>
                      </div>
                </div>
          </div>
    </div>
    </div>

{% endblock  %}
       
