{% load static %}
{% url 'carts:cart' as cart %}
{% url 'shipping_addresses:shipping_addresses' as shipping_addresses %}
<header>
    <!-- Header desktop -->
    <div class="container-menu-desktop">
        <!-- Topbar -->
        <div class="top-bar">
            <div class="content-topbar flex-sb-m h-full container">
                <div class="left-top-bar">
                    Bienvenido a Veterianimal
                </div>
        </div>

        <div class="wrap-menu-desktop">
            <nav class="limiter-menu-desktop container">
            {% if user.is_authenticated %}
             <!-- Logo desktop -->		
             <a href="#" class="logo">
                <img src="{% static 'imagenes/logodefinitivo.png' %}" alt="IMG-LOGO">
            </a>
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a href="{% url 'index' %}">Inicio</a>
                        </li>

                        <li class="{% if request.path == cart %}active{% endif %}">
                            <a href="{% url 'product' %}">Tienda</a>
                        </li>

                        <li>
                            <a href="{{ cart }}"> Mi Carrito</a>
                        </li>

                        <li>
                            <a href="{% url 'contact' %}">Contacto</a>
                        </li>

                        <li>
                            <a href="{% url 'user' %}">Perfil</a>
                        </li>

                        <li class="{% if request.path == shipping_addresses %}active{% endif %}">
                            <a href="{{shipping_addresses}}">Mis direcciones</a>
                        </li>

                        <li>
                            <a href="{% url 'logout' %}">Logout</a>
                        </li>
                
                    </ul>
                </div>	
                
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <!--{% include 'snippets/icon.html' %}-->

                    <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="">
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>
                </div>

                <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
                    <div class="container-search-header">
                        <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                            <img src="{% static 'imagenes/icons/icon-close2.png' %}" alt="CLOSE">
                        </button>
            
                        {% include 'products/snippets/search.html' %}
            
                    </div>
                </div> 

               {% else %}

                <!-- Logo desktop -->		
                <a href="#" class="logo">
                    <img src="{% static 'imagenes/logodefinitivo.png' %}" alt="IMG-LOGO">
                </a>

                <!-- Menu desktop -->
                <div class="menu-desktop">
                    <ul class="main-menu">
                        <li class="active-menu">
                            <a href="{% url 'index' %}">Inicio</a>
                        </li>

                        <li>
                            <a href="{% url 'product' %}">Tienda</a>
                        </li>

                        <li>
                            <a href="{% url 'carts:cart' %}">Carrito</a>
                        </li>

                        <li>
                            <a href="{% url 'contact' %}">Contacto</a>
                        </li>

                        <li>
                            <a href="{% url 'registrar' %}">Registrarme</a>
                        </li>
                    
                        <li>
                        <a href="{% url 'login' %}" >Iniciar Sesión</a>
                        </li>
                    </ul>
                </div>	

                <!-- Icon header -->
                <div class="wrap-icon-header flex-w flex-r-m">
                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                        <i class="zmdi zmdi-search"></i>
                    </div>

                    <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="">
                        <i class="zmdi zmdi-shopping-cart"></i>
                    </div>

                    <a href="#" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="">
                        <i class="zmdi zmdi-favorite-outline"></i>
                    </a>
                </div>
            {%endif%}
            </nav>
        </div>	
    </div>

    
    <!-- Modal Search -->
    <div class="modal-search-header flex-c-m trans-04 js-hide-modal-search">
        <div class="container-search-header">
            <button class="flex-c-m btn-hide-modal-search trans-04 js-hide-modal-search">
                <img src="{% static 'imagenes/icons/icon-close2.png' %}" alt="CLOSE">
            </button>

            {% include 'products/snippets/search.html' %}

        </div>
    </div>

    	<!-- Cart
	<div class="wrap-header-cart js-panel-cart">
		{% include 'snippets/cart_pag.html' %}
	</div>
 -->
    
</header>