<!DOCTYPE html>
{% load static %}
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Main CSS-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
  <link rel="icon" type="image/png" href="{% static 'imagenes/Veterianimal.png' %}">
  <!-- Font-icon css-->
  <link rel="stylesheet" type="text/css"
    href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <title>Registro</title>
</head>

<body>
  <section class="material-half-bg">
    <div class="cover"></div>
  </section>
  <section class="login-content">
    <div class="logo">
      <h1>Veterianimal</h1>
    </div>
    <div class="login-box">
      <form id="login" class="container" action="" method="POST">
        {% csrf_token %}
        <h3 class="login-head"><i class="fa fa-lg fa-fw fa-user"></i>Registrarme</h3>
        <div class="form-group">
          <label class="control-label">NOMBRE</label>
          <input class="form-control" type="text" name="name" required placeholder="Nombre" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">NÚMERO DE DOCUMENTO</label>
          <input class="form-control" name="numedoc" required type="text" placeholder="Número de Documento" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">DIRECCIÓN</label>
          <input class="form-control" name="address" required type="text" placeholder="Dirección" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">CORREO ELECTRICO</label>
          <input class="form-control" name="email" required type="text" placeholder="Dirección" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">USERNAME</label>
          <input class="form-control" name="usua" required type="text" placeholder="Dirección" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">CONTRASEÑA</label>
          <input class="form-control" name="pass" required type="text" placeholder="Contraseña" autofocus>
        </div>
        <div class="form-group">
          <label class="control-label">TIPO DE DOCUMENTO</label>
          <select name="tipodoc" class="form-select" aria-label="Default select example">
            <option value=''>Seleccionar</option>
            {% for t in tipo_documento %}
            <option value='{{ t.id }}'>{{ t.description }}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <div class="utility">
            <div class="animated-checkbox">
              <label>
                <input type="checkbox"><span class="label-text">Estoy de acuerdo con los</span>
              </label>
            </div>
            <p class="semibold-text mb-2"><a href="#" data-toggle="flip">Terminos y condiciones</a></p>
          </div>
        </div>
        <div class="form-group btn-container">
          <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>Entrar</button>
        </div>
      </form>
    </div>
  </section>
  <!-- Essential javascripts for application to work-->
  <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
  <script src="{% static 'js/popper.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/main.js' %}"></script>
  <!-- The javascript plugin to display page loading on top-->
  <script src="{% static 'js/plugins/pace.min.js' %}"></script>
  <script type="text/javascript">
    // Login Page Flipbox control
    $('.login-content [data-toggle="flip"]').click(function () {
      $('.login-box').toggleClass('flipped');
      return false;
    });
  </script>

</body>

</html>