{% load product_extras %}
<div class="row mt-5" >
 <div class="col-2">
    {% if product.image %}

        <img src="{{ product.image.url }}" alt="Imagen del producto" width="=60" height="130">

    {% endif %}
 </div>
<div class="col ">
    <div class="row mt-5">
        <strong>
            
            <a href="{% url 'product'%}">{{ product.name }}</a>
            

        </strong>
    </div>
    <div class="row mt-2">
        <strong class="text-danger">{{product.price | price_format }}</strong>
    </div>
</div>
</div>