{% load product_extras %}
<div class="">

        <div class="card mt-4">
            <h4><b><center>Resumen del pedido</center></b></h4>
        </div>

        <div class="">
            <div class="card">
                <tbody>
                    <div class="mt-2 ml-3 mb-2">
                        <tr>
                            <td>Productos: </td>
                            <td>{{ cart.total | price_format}}</td>
                        </tr>
                    </div>
                    <div class="mt-2 ml-3 mb-2">
                        <tr>
                            <td>Envío: </td>
                            <td>{{ order.shipping_total | price_format}}</td>
                        </tr>
                    </div>
                </tbody>
            </div>
            <div class="card font-weight-bold ">
                  <div class="mt-1 ml-2">
                      Total a pagar (Impuestos incluidos):
                  </div>

                <div class="mt-1 ml-3 mb-2">
                    <tr>
                        <td>
                            <b> ({{ order.total | price_format }} COP)</b>
                        </td>
                    </tr>
                </div>

            </div>
                <button class="btn btn-primary btn-block mt-3 " ><i class="fa fa-sign-in fa-lg fa-fw"></i>
                            Proceder a Pago
                </button>
        </div>
</div>