{% load product_extras %}
<div class="container">
    <br>
    <div class="container">
        <div class="card">

            <h4><b><center>Resumen del pedido</center></b></h4>

        </div>

    <div class="">
        
        <div class="card">
            
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>

        </thead>
        <tbody>
            
            <tr>
                <td>Productos: </td>
                
                <td>{{ cart.total | price_format}}</td>
            </tr>
            <tr>
                <br>
                <td>Envío: </td>
                <td>{{ order.shipping_total | price_format}}</td>
            </tr>
        </tbody>
    </div>

    </div>

  <div class="card font-weight-bold text-danger">
      
      Total a pagar (Impuestos incluidos): 
      
      <tr>
        <br>
        <td><b> ({{ order.total | price_format }}COP)</b>	</td>
        <td><button class="btn btn-primary btn-block" ><i class="fa fa-sign-in fa-lg fa-fw"></i>
            Proceder a Pago
        </button></td>
    </tr> 
      </div>    
    </div>

    </div>

</div>